// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins and extends.
// -----------------------------------------------------------------------------

// EXTENDS

.flex-center {
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
}
// MIXINS
@mixin animate($time) {
   transition: left ease-in-out $time, opacity ease-in-out $time;
}
@mixin gradientOutline() {
   background: linear-gradient(180deg, #00F5FF 0%, rgba(0, 245, 255, 0.1) 100%);
}
@mixin boxShadow() {
   box-shadow: 0.2rem 0.2rem 0.8rem 0.1rem rgba(0,0,0,0.91); 
} 
@mixin circleBgHover($opacity) {
   cursor: pointer;
   background: rgba(0, 0, 0, $opacity);
   border-radius: 10rem;
}
@mixin feedTitle() {
   position: absolute;
   bottom: 0;
   width: 100%;
   margin-bottom: 0;
   margin-top: 0;
   padding-top: 0;
   text-align: center;
   background: $col-dark-grey;
   padding: 0.3rem 0; 
   text-transform: uppercase;
   font-size: 1.2rem;
   color: #fff;
   font-weight: bold;
   &::before {
      content: " ";
      position: absolute;
      background: red;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2rem;
   }
}