// -----------------------------------------------------------------------------
// MODAL component.
// -----------------------------------------------------------------------------
.scope-modal {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0);
   z-index: -1;
   height: 0;
   transition: background 0.3s;
   
   &.scope-modal__on {
      height: 100%;
      background: rgba(0, 0, 0, 0.822);
      z-index: 1;
   }
}
