.scope-annotate {
   visibility: hidden;
   opacity: 0;
   background: $dark-blue; 
   padding-top: 2rem;
   width: 0;
   transition: all 1s;
   @include animate(0.2s);
   &.scope-annotate__on {
      width: 8rem;
      visibility: visible;
      opacity: 1;
   }
	a {
      @extend .flex-center; 
		height: 6.6rem;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         top: -0.6rem;
         left: 50%;
         transform: translateX(-50%);
         border-width: 0.4rem 0.6rem 0 0.6rem;
         border-style: solid;
         border-color: black transparent transparent transparent;
         z-index: 100;
         opacity: 0;
     }
     &::after {
         content: attr(tooltip);
         position: absolute;
         left: 50%;
         top: -0.6rem;
         transform: translateX(-50%) translateY(-100%);
         background: black;
         text-align: center;
         color: #fff;
         padding: 0.4rem 0.2rem;
         font-size: 1.2rem;
         min-width: 8rem;
         border-radius: 0.5rem;
         pointer-events: none;
         opacity: 0;
     }
	  &:hover {
			background: $button-hover;
			svg {
				.ico-stroke {
					fill: $ico-stroke-hover;
				}
				.ico-fill {
					fill: $button-hover;
				}
			} 
	 }
	}
	svg {
		.ico-fill {
			fill: $ico-fill;
		}
		.ico-stroke {
			fill: $ico-stroke;
		}
	}
}

[tooltip-position='right']::before{
   left: 100%;
   top: 50%;
   margin-left: 0.1rem;
   transform: translateY(-50%) rotate(90deg)
 }
 [tooltip-position='right']::after{
   left: 100%;
   top: 50%;
   margin-left: 0.8rem;
   transform: translateX(0%)  translateY(-50%);
 }
 [tooltip]:hover::after,[tooltip]:hover::before {
   opacity:1
}
