// -----------------------------------------------------------------------------
// This file contains all styles related to the GALLERY of the application.
// -----------------------------------------------------------------------------

.scope-gallery {
   position: absolute;
   z-index: -1;

   .alert-body {
      display: flex;
      flex-direction: column;
   }
   .scope-gallery__content {
      position: relative;
      display: grid;
      grid-template-columns: 80px 1fr 80px;
      flex-basis: 100%;
      
      i {
         font-size: 3rem;
         height: 2em;
         width: 2em;
         @extend .flex-center;
         &:hover {
            @include circleBgHover(0.2);
            cursor: pointer;
         }
      }
      img {
         max-width: 100%;
      }
      div {
         height: 100%;
         align-items: center;
         justify-content: center;
         display: flex;
      }
   }
   .scope-gallery__thumbnails {
      grid-column: span 3;
      height: 100%;
      height: 100px;
      overflow-x: scroll;
      margin-top: $gutter;
      img {
         border: 1px solid $col-primary;
         width: 83px;
         margin-bottom: $gutter;
         margin-right: $gutter;
      }
   }   
}
.alert__gallery {
   width: 90%;
   height: 90%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

