// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
body {
   font-family: Lato, sans-serif;
   font-weight: 400;
   font-size: 1.6rem;
   color: #fff;
}